
.about  {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: 85px;
}

.about-container {
    height: 50vh;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.about-container__header {
    width: 50%;
    padding-top: 50px;
}

.about-container__header-img {
    width: 200px;
    height: 200px;

}

.about-container__text {
    width: 50%;
}

