

.about  {
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: 85px;
}

.about-container {
    height: 50vh;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

